<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Testes Funcionais CRUX">																
 <parameter name="parameters" value="browser=firefox" />   
	
   	
   	<test name="Teste Funcional 5.1" >   
   	
   		<parameter name="url"
		value ="http://localhost:8080/crux-test-widgets/cruxtestwidgets/index.html"/>					
		<parameter name="grid"
			value="/html/body/div[2]/div/div/div/div/div/div[3]/button" />
		<parameter name="rest"		
			value="/html/body/div[2]/div/div/div/div/div/div[2]/button" />
  				
   	   	 <groups>
			<run>
				<include name="crux_test_5.1"/>
			<!-- <include name="crux_test_5.2"/> -->
			</run>			
		</groups> 	
			
		<packages>
			<package name="br.ufmg.dcc.saotome.beholder.selenium" />
		</packages>		
		
		<classes>
	   		<class name="org.cruxframework.test.cruxtestwidgets.test.MaskedTextBox"/>   
	 	  	<class name="org.cruxframework.test.cruxtestwidgets.test.RestService"/>   
		</classes>
	</test>		
</suite>






<!--http://localhost:8080/MaskedTextCrux/maskedtextcrux/index.html  -->
<!-- http://localhost:8080/crux-test-widgets/cruxtestwidgets/index.html -->
